*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    background-color: #eee;
    letter-spacing: 0.15rem;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
}

h1{
    text-align: center;
    
}

.container-sign{
    margin: 0 auto;
    width: 50vw;
    background-color: #fff;
    padding: 3rem 4rem;


    .success{
        text-align: center;

        
    }
}

